a {
    color: white;
}

.buttons-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    min-width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.buttons-container a {
    color: white;
    padding: 1.1rem;
    font-size: 1rem;
    transition: 0.3s;
    text-align: center;
}

.buttons-container a:hover {
    cursor: pointer;
    font-size: 1.3rem;
    padding-bottom: 1.4rem;
}

.button-us {
    background-color: #364a65;
}

.button-project {
    background-color: #3c526f;
}

.button-support {
    background-color: #30415d;
}

.active {
    border: 1px solid #829cbc;
}
